.container{
  height: 94vh;
  color: var(--eerie-black);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

img{
  height: 80vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-40vw, -40vh);
}

p{
  font-size: 3vh;
  font-weight: 900;
  text-align: center;
  padding-top: 20vh;
}