<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!animationStart">
  <input
    type="text"
    name="username"
    id="name"
    placeholder="Enter Your UserName"
    required
    [formControlName]="'name'"
    autofocus
  />
  <input
    type="email"
    name="userEmail"
    id="email"
    placeholder="Enter Your Email"
    required
    [formControlName]="'email'"
  />

  <input
    type="password"
    name="userPassword"
    id="password"
    placeholder="Enter Your Password"
    required
    [formControlName]="'password'"
  />

  <button type="submit" [disabled]="!form.valid">SignUp</button>

  <button type="button" (click)="goLogin()">LogIn</button>

  <button type="button" (click)="goForgotPassword()">Forgot Password?</button>
</form>

<div class="errorMessage" *ngIf="!detailsValid">Email already in use!</div>

<div class="successMessage" *ngIf="animationStart">
  <div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div *ngIf="accountCreated">
    Email Verification Link Sent!<br />Please Verify and Login.
  </div>
</div>
