.container{
  display: grid;
  grid-template-columns: 1fr 20fr;
  grid-template-areas: "chat router";
  grid-gap: 20px;
}

.chat {
  grid-area: router;
  background-color: #128CFC;
  border: 1px solid black;
}

.chat-container {
  grid-area: chat;
  border: 1px solid black;
  height: 80vh;
  display: grid;
  place-items: center;
  background-color: #128CFC;
}

.recent-chat{
  width: 40vw;
  max-height: 60vh;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(black,0.23);
  border-top: 10px solid #0B5AA2;
}

.shrink {
  animation: shrink 1.5s ease-out 1;
}

.expand {
  animation: expand 1.5s ease-out 1;
}

@keyframes shrink {
  from {
    width: 100vw;
  }
  to{
    width: 40vw;
  }
}

@keyframes expand {
  from {
    width: 40vw;
  }
  to {
    width: 100vw;
  }
}

.content{
  padding: 10px;
  margin: 10px;
  max-height: 55vh;
  overflow: auto;
}

.info{
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  font-size: inherit;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.info:hover {
  border-radius: 10px;
  border: 1px solid #0B5AA2;
}

.add-at-700 {
  display: none;
}

.chat-clicked{
  border-top: 5px solid #0B5AA2;
}

i{
  align-self: center;
  font-size: 24px;
  color: #0B5AA2;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
  float: right;
  margin-right: 5px;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

.name {
  font-weight: 700;
  font-size: 2.5vh;
  border-bottom: var(--crimson-ua) solid 1px;
  color: var(--eerie-black);
  word-break: break-all;
}

.time-date {
  font-size: 1.7vh;
  border-radius: 3px;
  float: right;
  color: #0B5AA2;
  font-weight: 700;
  padding: 2px 4px;
}

.message {
  overflow: auto;
  word-break: break-all;
  color: #2a2c2e;
}

.new-or-not{
  background-color: var(--sea-green);
  border-radius: 3rem;
  padding: 0 1vw;
  margin: 0 1vw;
  color: var(--eerie-black);
}

.new-or-notP {
  padding: 0px;
  margin: 0px;
  margin-left: 2.5vw;
  font-size: 1px;
  width: 10px;
  height: 5px;
  background-color: var(--sea-green);
  border-radius: 3rem;
  animation: icon 1.5s ease-out infinite alternate;
}

img{
  height: 10vh;
  width: 10vw;
  object-fit: contain;
}

.empty{
  height: 80vh;
  color: var(--eerie-black);
}

.empty img{
  height: 60vh;
  width: 60vw;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-30vw, -30vh);
}

.empty p{
  font-size: 3vh;
  font-weight: 900;
  text-align: center;
  margin-top: 5vh;
}

.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--crimson-ua), var(--flame));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 700px){

  .message-info {
    font-size: 12px;
  }

  .recent-chat {
    width: 80vw;
  }

  @keyframes shrink {
    from {
      width: 100vw;
    }
    to{
      width: 20vw;
    }
  }
  
  @keyframes expand {
    from {
      width: 20vw;
    }
    to {
      width: 100vw;
    }
  }
}
