.recent-chat{
  height: 96vh;
}

.info{
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border: var(--eerie-black) 5px solid;
  background-color: var(--flame);
  box-shadow: 4px 4px var(--true-blue);
  border-radius: 5px;
}

.name {
  font-weight: 700;
  font-size: 2.5vh;
  border-bottom: var(--crimson-ua) solid 3px;
  color: var(--eerie-black);
}

.time-date {
  font-size: 1.5vh;
  border: var(--lavender-gray) solid 2px;
  border-radius: 3px;
  float: right;
  color: var(--eerie-black);
  font-weight: 700;
  padding: 2px 4px;
}

.message {
  overflow: auto;
}

.new-or-not{
  background-color: var(--sea-green);
}

img{
  height: 10vh;
  width: 10vw;
  object-fit: contain;
  flex: 1;
}

.message-info{
  flex: 3;
}

.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--crimson-ua), var(--flame));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 700px){
  .message-info {
    font-size: 12px;
  }
}
