.container{
  height: 80vh;
  box-sizing: border-box;
  background-color: #128CFC;
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.container > * {
  width: 40vw;
  height: 50vh;
  background-color: white;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid #0B5AA2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  place-items: center;
}

img{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.name {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.email {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.buttons {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.pop-up{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}

.pop-up > * {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 90vh;
}

.pop-up-in{
  background-color: white;
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px black solid;
  border-top: 10px #0B5AA2 solid;
}

input{
  font-size: 2.5vh;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
  white-space: normal;
  word-break: break-all;
  margin: 10px;
  background-color: white;
  color: var(--eerie-black);
}

input[type="text"]{
  width: 20vw;
  background: #fff;
  color: var(--eerie-black);
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 1vh 1vw;
  border: 1px black solid;
  margin: 0 1vw;
  cursor: text;
}

.button:focus{
  border: 1px black solid;
}

h2{
  color: #0B5AA2;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  text-align: center;
  border-bottom: 1px solid var(--crimson-ua);
  border: 1px solid black;
  border-left: 2px var(--crimson-ua) solid;
  padding-left: 10px;
  padding-right: 10px;
}

h3{
  text-align: center;
  color: var(--eerie-black);
}

img {
  height: 10vh;
  width: 10vw;
  object-fit: contain;
  border-left: 2px solid var(--crimson-ua);
}

.button{
  color: white;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
  background: #7f8ff4;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 1vh 1vw;
}

.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--crimson-ua), var(--flame));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 800px) {
  input {
    width: 25vw;
    font-size: 2vh;
  }

  .pop-up-in {
    width: 80vw;
  }

  input[type="text"]{
    width: 40vw;
  }

  .container > * {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  input {
    width: 30vw;
  }

  .container > * {
    width: 90vw;
  }

  h2{
    font-size: 2.5vh;
  }

  h3{
    font-size: 2vh;
  }
}