.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container > * {
  flex: 1;
  height: calc(100vh - 200px);
  background-color: var(--crimson-ua);
  border-radius: 10px;
  margin: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.friend, .request, .suggestion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 5px solid var(--eerie-black);
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  background-color: var(--flame);
}

.friend > *, .request > *, .suggestion > * {
  flex: 1;
}

.friend{
  justify-content: space-evenly;
}

h2, h3{
  text-align: center;
}

img{
  height: 50px;
  width: 50px;
  object-fit: contain;
}

input{
  font-size: 18px;
  border-radius: 5px;
  line-height: 1.6rem;
  font-family: inherit;
  font-weight: 500;
}

p{
  font-size: 18px;
}

input[value="Refresh"]{
  margin-top: 5px;
  margin-left: 10px;
}

.center {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--crimson-ua), var(--flame));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
  }

  .container > * {
    flex: 70vh;
    width: 90vw;
  }

  p {
    font-size: initial;
  }
  
}