.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #128CFC;
  border: 1px solid black;
  height: 70vh;
}

.container > * {
  flex: 1;
  height: 60vh;
  margin: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  border-top: 10px solid #0B5AA2;
  background-color: white;
}

.list{
  border: 1px solid black;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  word-break: break-all;
}

.request {
  grid-template-columns: 2fr 5fr 5fr;
}

i{
  margin-left: 3px;
  align-self: center;
  font-size: 24px;
  color: #0B5AA2;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
  float: right;
  margin-right: 5px;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

h2{
  text-align: center;
  color: #0B5AA2;
}

h3{
  color: var(--eerie-black);
  text-align: center;
}

p{
  color: var(--eerie-black);
  font-weight: 700;
}

img{
  height: 50px;
  width: 50px;
  object-fit: contain;
}

button{
  color: white;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
  background: #7f8ff4;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 1vh 1vw;
}

button:focus{
  border: 1px black solid;
}

p{
  font-size: 18px;
}

.center {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--crimson-ua), var(--flame));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
    height: 210vh;
    padding: 10px;
  }

  .container > * {
    height: 70vh;
    width: 90vw;
  }

  p {
    font-size: initial;
  }
  
}