<div class="choose" *ngIf="!wait">
  <router-outlet></router-outlet>
</div>


<div *ngIf="wait" class="animation">
  <div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div class="made">
    Made with ❤️ by <a href="https://github.com/mayan-000/" target="_blank">Mayank Rana</a>. 
  </div>
</div>