form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

input {
  margin: min(1vw, 1vh);
  font-size: 2.5vh;
  line-height: 6vh;
  font-family: inherit;
  border-radius: 10px;
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: 1px solid var(--flame);
  outline: 3px solid var(--crimson-ua);
}

button {
  width: 100%;
  margin: min(1vw, 1vh);
  font-family: inherit;
  font-size: 2vh;
  line-height: 5vh;
  border-radius: 10px;
}

div {
  text-align: center;
}

.errorMessage {
  color: var(--crimson-ua);
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--eerie-black);
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
