<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!animationStart">
  <input type="email" name="userEmail" id="email" placeholder="Enter Your Email" required [formControlName]="'email'" autofocus>

  <button type="submit" [disabled]="!form.valid">
    Send Verification Link
  </button>

  <button type="button" (click)="goLogin()">
    LogIn
  </button>

  <button type="button" (click)="goSignup()">
    SignUp
  </button>

</form>

<div class="errorMessage" *ngIf="!detailsValid">Email not found. Try again!</div>

<div class="successMessage" *ngIf="animationStart">
  <div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div *ngIf="linkSent">Password Link Sent!</div>

</div>
